<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="inputFile" value="../../../../Data/Inputs/people.in"/>
    <add key="outputFile" value="../../../../Data/Output/people.out"/>
    <add key="delimiter" value="|"/>
    <add key="resultsLimit" value="100"/>
    <add key="roleMatches" value="../../../../Data/Inputs/roleMatches.mtc"/>
    <add key="countryMatches" value="../../../../Data/Inputs/countryMatches.mtc"/>
    <add key="industryMatches" value="../../../../Data/Inputs/industryMatches.mtc"/>
  </appSettings>
</configuration>
